<main>
  <svg width="20" height="20" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.1562 10.1562H0V0H10.1562V10.1562ZM21.875 10.1562H11.7188V0H21.875V10.1562ZM10.1562 21.875H0V11.7188H10.1562V21.875ZM21.875 21.875H11.7188V11.7188H21.875V21.875Z" fill="#cccecf"
    ></path>
  </svg>
</main>
